*{
    box-sizing: border-box;
}

body{
    color: #434455;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

ul, ol {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

p, h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{
    width: 1158px;
    padding: 0px 15px;
    margin: 0 auto;

}
/* Header*/
.header-section{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items:center;
    gap: 24px;
}

/*Logo*/

.logo-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio-logo{
    color: #2e2f42;
}
/* Navigation*/
.nav-list{
    display: flex;
    gap: 40px;
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: inline-block;
    padding: 24px 0px;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

/*Address*/
.address-list{
    display: flex;
    gap: 40px;
}

.address-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    padding: 25.5px 0px;
}

.add-item:hover, .add-item:focus{
color: #404bbf;
}

/*Effective solutions*/
.hero-section{
    padding: 188px 0px;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.button-primary{
    font-family: inherit;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}

.button-primary:hover, .button-primary:focus{
    background-color: #404BBF;
}

/*Skills section*/
.skills-section{
    padding: 120px 0;
}

.skills-inner{
    display: flex;
}

.skills-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;
}

.skills-box{
    display-flex;
    justify-content: center;
    align-items: center;
}

.skills-list{
    display: flex;
    gap: 24px;
}

.skills-item{
width: 264px;
}

.skills-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.skills-box{
    display:flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    width: 264px;
    height: 112px;
}

.skills-icon{
    width: 64px;
    height: 64px;
}

/*Our Team*/
.team-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-list{
    display: flex;
    gap: 24px;
    align-items: center;
}

.team-card{
    padding: 32px 0;
display: flex;
width: 232px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-box{
    display: flex;
    gap: 24px;
}

.team-icon{
    width:16px;
    height: 16px;
   fill: #F4F4FD;
}

.ellipse-icon{
width: 40px;
height: 40px;
fill: #4D5AE5;
}

/*Portfolio*/
.port-section{
    padding: 120px 0px;
}

.port-inner{
    display: flex;
    flex-direction: column;
}

.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.port-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-item{
    max-width: calc((100% - 48px) / 3);
}

.port-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.port-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer*/
.footer-section{
    background-color: #2e2f42;
    padding: 100px 0px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer-logo{
    color: #f4f4fd;
}

.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
